@import "../../assets/sass/variables";

.logo {
  display: block;
  height: 60px;
  position: relative;
  padding: $module-rem ($module-rem * 2);
  margin: 0;

  .logo-wrap {
    align-items: center;
    color: inherit;
    display: flex;
    height: 100%;
    text-decoration: none;
    width: 350px;

    .logo-img {
      height: auto;
      max-height: 100%;
      max-width: 100%;
      vertical-align: top;

    }

    .logo-icon {
      margin-left: -50px;
    }

    .logo-text {
      margin-left: -35px;
      font-size: 20px;
      line-height: 1;
    }
  }
}
