:root {
  --palette-primary-shade-30: 0, 69, 120;
  --palette-primary-shade-20: 0, 90, 158;
  --palette-primary-shade-10: 16, 110, 190;
  --palette-primary: 0, 120, 212;
  --palette-primary-tint-10: 43, 136, 216;
  --palette-primary-tint-20: 199, 224, 244;
  --palette-primary-tint-30: 222, 236, 249;
  --palette-primary-tint-40: 239, 246, 252;
  --palette-neutral-100: 0, 0, 0;
  --palette-neutral-80: 51, 51, 51;
  --palette-neutral-70: 76, 76, 76;
  --palette-neutral-60: 102, 102, 102;
  --palette-neutral-30: 166, 166, 166;
  --palette-neutral-20: 200, 200, 200;
  --palette-neutral-10: 218, 218, 218;
  --palette-neutral-8: 234, 234, 234;
  --palette-neutral-6: 239, 239, 239;
  --palette-neutral-4: 244, 244, 244;
  --palette-neutral-2: 248, 248, 248;
  --palette-neutral-0: 255, 255, 255;
  --palette-accent1-light: 249, 235, 235;
  --palette-accent1: 218, 10, 0;
  --palette-accent1-dark: 168, 0, 0;
  --palette-accent2-light: 223, 246, 221;
  --palette-accent2: 186, 216, 10;
  --palette-accent2-dark: 16, 124, 16;
  --palette-accent3-light: 255, 244, 206;
  --palette-accent3: 248, 168, 0;
  --palette-accent3-dark: 220, 182, 122;
  --background-color: rgba(var(--palette-neutral-0), 1);
  --text-primary-color: rgba(var(--palette-neutral-100), .9);
  --text-secondary-color: rgba(var(--palette-neutral-100), .55);
  --text-disabled-color: rgba(var(--palette-neutral-100), .3);
  --border-subtle-color: rgba(var(--palette-neutral-100), .08);
  --callout-background-color: var(--background-color);
  --callout-shadow-color: rgba(0, 0, 0, .2); }
